// ========
// 	COLORS
// ========

$black: #000;
$antiquewhite: #FAEBD7;
$primarycolor: #330000;
$white: #fff;
$hovercolor: #FF8C00;
$accentcolor: #ff3222;

// ========
// 	BACKGROUND IMAGES
// ========
$logo: url(../assets/img/header_logo.png);


// ========
// 	GOOGLEFONTS
// ========
// (http://fonts.googleapis.com/css?family=Felipa|Montserrat|Karla|Marck+Script);

$mainfont: 'Felipa', cursive;
$secondaryfont: 'Montserrat', san-serif;
$altfont1: 'Karla', cursive;
$altfont2: 'Marck Script', cursive;
$linkfont: 'Karla', serif;

