// ========
// 	COLORS
// ========

$black: #000;
$antiquewhite: #FAEBD7;
$primarycolor: #330000;
$white: #fff;
$hovercolor: #FF8C00;
$accentcolor: #ff3222;

// ========
// 	BACKGROUND IMAGES
// ========
$logo: url(../assets/img/header_logo.png);


// ========
// 	GOOGLEFONTS
// ========
url(http://fonts.googleapis.com/css?family=Felipa|Julee|Fondamento|Merienda+One|Marck+Script);

$mainfont: 'Felipa', cursive;
$secondaryfont: 'Julee', cursive;
$altfont1: 'Fondamento', cursive;
$altfont2: 'Marck Script', cursive;
$linkfont: 'Merienda One', cursive;

