//======================================
//           	FONTS
// =====================================

$mainFont: Molengo;
$defaultFont: sans-serif;
$secondaryFont: Open Sans;

//======================================
//          	COLORS
// =====================================

$color_light-red: #f3614c;
$color_white: #fff;
$color_dk-yellow: #ffcd0f;
$color_black: #000;
$color_lt-gray: #80726b;
$color_near-black: #202020;
$color_dark-gray: #646464;
$color_green: #9bcaaa;
$color_teal: #004a59;
$color_blue: #3694a7;
$color_red: red;
$color_gray: #918680;

//======================================
//          	BACKGROUND IMAGES
// =====================================

$url_0: url(../assets/img/looneyTunes-logo.png);
$url_1: url(../assets/img/zappos-off.png);
$url_2: url(../assets/img/zappos.png);
$url_3: url(../assets/img/delval-off.png);
$url_4: url(../assets/img/delval.png);
$url_5: url(../assets/img/monotype-off.png);
$url_6: url(../assets/img/monotype.png);
$url_7: url(../assets/img/bookApart.png);
$url_8: url(../assets/img/eventApart.png);
$url_9: url(../assets/img/listApart.png);

