/* primary CTA */
* {
  box-sizing: border-box; }

html, body, section {
  width: 100%;
  margin: 0;
  background-color: #004a59; }

header {
  width: 100%;
  height: 100px;
  padding: 5px 20px;
  background-color: #202020;
  position: fixed;
  border-bottom: 1px solid #3cccf2;
  z-index: 1;
  opacity: .9; }
  header #logo {
    width: auto;
    height: 75px;
    margin: 10px;
    position: fixed;
    z-index: 1; }
  header h1, header h3 {
    color: #fff;
    display: inline-block;
    float: right; }
  header h3 {
    font-family: 'Monsieur+La+Doulaise', cursive;
    font-size: 40px; }

@media only screen and (min-width: 0px) {
  header #logo {
    margin: 0; }
  header h1, header h3 {
    margin: 10px 0 0 35px; } }

@media only screen and (min-width: 440px) {
  header h1, header h3 {
    margin: 10px 0 0 100px; } }

@media only screen and (min-width: 670px) {
  header h1, header h3 {
    margin-top: 25px; } }

#tattoo_works {
  padding-top: 120px; }

section .artworks {
  height: auto; }

.artworks {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 2%;
  float: left;
  overflow: hidden;
  transition: .3s; }
  .artworks img {
    width: 100%;
    height: 320px; }
  .artworks figure {
    width: 100%;
    margin: 0; }
  .artworks figcaption {
    width: 100%;
    display: absolute;
    background-color: #000;
    color: #fff;
    margin: -70px 0 25px 0;
    padding: 15px;
    opacity: .7;
    font-size: 12px;
    bottom: -50px;
    z-index: 2; }
  .artworks figcaption {
    transition: .3s; }

.artworks:hover {
  transition: .3s; }
  .artworks:hover figcaption {
    transform: scaleY(0); }
  .artworks:hover img {
    box-shadow: 4px 2px 7px #3cccf2; }

@media only screen and (min-width: 0px) {
  .artworks img {
    height: auto; } }

@media only screen and (min-width: 440px) {
  .artworks {
    float: left;
    width: 45.61403508772%;
    height: 320px;
    margin: 0 2%; }
    .artworks img {
      height: 320px; }
  #firebreather {
    width: 95.15%; } }

@media only screen and (min-width: 670px) {
  .artworks {
    width: 31.228070175439%;
    margin: 0 1%; }
  #firebreather {
    width: 64.344140350878%; } }

@media only screen and (min-width: 850px) {
  .artworks {
    width: 23.414711477489%;
    margin: 0 .75%; }
  #firebreather {
    width: 73.125%; } }

@media only screen and (min-width: 960px) {
  #firebreather {
    width: 48.125%; } }
