//======================================
//           	FONTS
// =====================================

$mainFont: Molengo;
$defaultFont: sans-serif;
$secondaryFont: Open Sans;

//======================================
//          	COLORS
// =====================================

$white: #fff;
$black: #000;
$near-black: #202020;
$dark-gray: #646464;
$teal: #004a59;

